* {
    margin: 0;
    padding: 0;
}
body{
    background-color: lightseagreen;
    overflow-x: hidden;
}
header {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    gap: 0.9rem;
    padding: 0.6em;

}

.name {
    background-color: white;
    color: black;
    padding: 0.6em;
    font-family: "Figtree", sans-serif;
    text-transform: capitalize;
}

.email {
    background-color: white;
    color: black;
    padding: 0.6em;
    font-family: "Figtree", sans-serif;
    

}

.phoneno {
    background-color: white;
    color: black;
    padding: 0.6em;
    font-family: "Figtree", sans-serif;


}

.logo {
    width: 7vw;
    height: 19vh;
    border: 9px solid white;
    background-color: red;
    display: flex;
    font-family: "Figtree", sans-serif;


}

.father {
    background-color: white;
    color: black;
    padding: 0.3em;
    font-family: "Figtree", sans-serif;
    text-transform: capitalize;


}

.mother {
    background-color: white;
    color: black;
    padding: 0.3em;
    font-family: "Figtree", sans-serif;
    text-transform: capitalize;


}


.box {
    display: grid;
    column-gap: 0.6em;
    grid-template-rows: 2.7em 2.7em 0.06em;
    grid-template-columns: 16em 13.6em 13.84em;
    row-gap: 1.2em;
    width: 47vw;
    height: auto;
    
}

img {
    width: 7.25vw;
    height: 19vh;
}

.tital {
    color: white;
    display: flex;
    padding: 3em;
    font-family: "Figtree", sans-serif;
    font-size: 1em;
}
nav{
    color: white;
}
li{
    text-decoration: none;
    color: white;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-family: "Saira", sans-serif;;
}
.heading{
    font-family: Pacifico;
    color: black;
    font-size: 5.6em;
    padding: 0.11em;
    width: 45vw;
    height: auto;
    text-decoration: underline white;
    text-align: center;
}


.skill1{
    width: 13vw;
    height: 19vh;
    border: 1px solid black;
    border-radius: 30px;
}
.css{
    width: 15vw;
    height: auto;
    text-align: center;
    font-size: 1.8em;
    display: inline-block;
    
}
h2{
    text-decoration: underline gold;
    font-family: BBH Sans Bartle;
    color: lightblue;
    
}
.skills{
    width: 97%;
    height: auto;
}
.skill2{
    width: 13vw;
    height: 19vh;
    border: 1px solid black;
    border-radius: 30px;
}
.html{
     width: 15vw;
    height: auto;
    text-align: center;
    font-size: 1.8em;
    display: inline-block;
}
.note{
    display: inline-block;
    width: 61%;
    height: auto;
    padding: 1em;
    font-size: 3em;
    font-family: BBH Sans Hegarty;
    color: yellow;
    text-decoration: underline red;
}
#education{
    font-family: Pacifico;
    color: black;
    font-size: 5.6em;
    padding: 0.11em;
    width: 37vw;
    height: auto;
    text-decoration: underline white;
    text-align: center;
}
th{
    background-color: red;
    font-size: 1em;
    text-align: center;
    text-decoration: underline white;
}
table{
    width: 100%;
    height: 40vh;
    background-color: white;
}
tr{
    font-size: 1em;
    text-align: center;
}
.cse{
    width: 100%;
    height: 15vh;
    text-align: center;
    font-size: 2em;
    padding: 0.8em;
    color:darkblue;
    font-family: font-family Pacifico;
    text-transform: capitalize;
}
#about{
     font-family: Pacifico;
    color: black;
    font-size: 5.6em;
    padding: 0.11em;
    width: 32vw;
    height: auto;
    text-decoration: underline white;
    text-align: center;
}
#mukund{
    font-size: 3em;
    padding: 0.32em;
}
#mukundm054{
    width: 100%;
    height: 100vh;
}
footer{
    background-color: yellowgreen;
    color: black;
    height: auto;
    text-align: center;
    font-size: 2em;
}
@media  (max-width:481px){
    body{
        overflow-x: hidden;
    }
    header{
        width: 94%;
        display: inline-block;
        height: 34vh;
    }
    .box{
        display: inline-block;
        width: 49vw;
        height: 30vh;
    }
    .email{
        font-size: 10px;
        padding: 1px 5px;
    }
    .phoneno{
        font-size: 10px;
        padding: 1px 5px;

    }
    .father{
        font-size: 10px;
        padding: 1px 5px;

    }
    .mother{
        font-size: 10px;
        padding: 1px 5px;

    }
    .name{
        font-size: 10px;
        padding: 1px 5px;

    }
    .tital{
        font-size: 10px;
        padding: 5px;
        display: inline-block;
        position: relative;
        top: 0px;
        right: -101px;
    }
    .logo{
        display: inline-block;
        position: relative;
        right: -206px;
        width: 24vw;
        height: 24vh;
        bottom: 178px;
    }
    img{
        width: 24vw;
        height: 24vh;
    }
    a{
        font-size: 10px;
    }
    nav{
        width: 29vw;
        position: relative;
        bottom: 235px;
    }
    .heading{
        font-size: 32px;
        width: 76vw;
        height: 9vh;
    }
    main{
        position: relative;
        bottom: 234px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .skill1{
        height: 100px;
        width: 100px;
    }
    .css{
        padding-left: 5px;
        text-align: left;
        width: 37vw;
        height: 31vh;
    }
    h2{
        font-size: 27px;
    }
    .skill2{
        height: 100px;
        width: 100px;
    }
    .html{
        padding-left: 5px;
        text-align: left;
        width: 37vw;
        height: 31vh;
    }
    .note{
        font-size: 17px;
        padding: 5px;
        width: 97%;
        height: 21vh;
    }
    #education{
        font-size: 32px;
        width: 62vw;
        height: 9vh;
    }
    .education{
        position: relative;
        bottom: 30px;
    }
    th{
        font-size: 10px;
    }
    td{
        font-size: 10px;
    }
    .cse{
        font-size: 18px;
        padding-left: 5px;
        padding-top: 10px;
        text-align: left;
        padding-bottom: 10px;
        padding-right: 5px;
        width: 97%;
    }
    .about{
        position: relative;
        bottom: 64px;
        top: -41px;
    }
    #about{
        font-size: 32px;
        width: 55vw;
        height: 10vh;
        padding: 5px;
    }
    #mukundm054{
        position: relative;
        bottom: 32px;
    }
    #mukund{
        font-size: 19px;
    }
    footer{
        font-size: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }





}