* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightseagreen;
    overflow-x: hidden;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    gap: 0.9rem;
    padding: 0.6em;

}

.name {
    background-color: white;
    color: black;
    padding: 0.6em;
    font-family: "Figtree", sans-serif;
    text-transform: capitalize;
}

.email {
    background-color: white;
    color: black;
    padding: 0.6em;
    font-family: "Figtree", sans-serif;


}

.phoneno {
    background-color: white;
    color: black;
    padding: 0.6em;
    font-family: "Figtree", sans-serif;


}

.logo {
    width: 7vw;
    height: 19vh;
    border: 9px solid white;
    background-color: red;
    display: flex;
    font-family: "Figtree", sans-serif;


}

.father {
    background-color: white;
    color: black;
    padding: 0.3em;
    font-family: "Figtree", sans-serif;
    text-transform: capitalize;


}

.mother {
    background-color: white;
    color: black;
    padding: 0.3em;
    font-family: "Figtree", sans-serif;
    text-transform: capitalize;


}


.box {
    display: grid;
    column-gap: 0.6em;
    grid-template-rows: 2.7em 2.7em 0.06em;
    grid-template-columns: 16em 13.6em 13.84em;
    row-gap: 1.2em;
    width: 47vw;
    height: auto;

}

img {
    width: 7.25vw;
    height: 19vh;
}

.tital {
    color: white;
    display: flex;
    padding: 3em;
    font-family: "Figtree", sans-serif;
    font-size: 1em;
}

nav {
    color: white;
}

li {
    text-decoration: none;
    color: white;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Saira", sans-serif;
    ;
}

.heading {
    font-family: Pacifico;
    color: black;
    font-size: 5.6em;
    padding: 0.11em;
    width: 45vw;
    height: auto;
    text-decoration: underline white;
    text-align: center;
}


.skill1 {
    width: 13vw;
    height: 19vh;
    border: 1px solid black;
    border-radius: 30px;
}

.css {
    width: 15vw;
    height: auto;
    text-align: center;
    font-size: 1.8em;
    display: inline-block;

}

h2 {
    text-decoration: underline gold;
    font-family: BBH Sans Bartle;
    color: lightblue;

}

.skills {
    width: 97%;
    height: auto;
}

.skill2 {
    width: 13vw;
    height: 19vh;
    border: 1px solid black;
    border-radius: 30px;
}

.html {
    width: 15vw;
    height: auto;
    text-align: center;
    font-size: 1.8em;
    display: inline-block;
}

.note {
    display: inline-block;
    width: 61%;
    height: auto;
    padding: 1em;
    font-size: 3em;
    font-family: BBH Sans Hegarty;
    color: yellow;
    text-decoration: underline red;
}

#education {
    font-family: Pacifico;
    color: black;
    font-size: 5.6em;
    padding: 0.11em;
    width: 37vw;
    height: auto;
    text-decoration: underline white;
    text-align: center;
}

th {
    background-color: red;
    font-size: 1em;
    text-align: center;
    text-decoration: underline white;
}

table {
    width: 100%;
    height: 40vh;
    background-color: white;
}

tr {
    font-size: 1em;
    text-align: center;
}

.cse {
    width: 100%;
    height: 15vh;
    text-align: center;
    font-size: 2em;
    padding: 0.8em;
    color: darkblue;
    font-family: font-family Pacifico;
    text-transform: capitalize;
}

#about {
    font-family: Pacifico;
    color: black;
    font-size: 5.6em;
    padding: 0.11em;
    width: 32vw;
    height: auto;
    text-decoration: underline white;
    text-align: center;
}

#mukund {
    font-size: 3em;
    padding: 0.32em;
}

#mukundm054 {
    width: 100%;
    height: 100vh;
}

footer {
    background-color: yellowgreen;
    color: black;
    height: auto;
    text-align: center;
    font-size: 2em;
}

@media screen and (max-width:420px) {
    header {
        width: 96%;
    }

    .box {
        display: inline;
        height: 28vh;
        width: 41vw;
    }

    .email {
        font-size: 0.7em;
        padding: 0.2em;
    }

    .name {
        font-size: 0.7em;
        padding: 0.2em;
    }

    .phoneno {
        font-size: 0.7em;
        padding: 0.2em;

    }

    .mother {
        font-size: 0.7em;
        padding: 0.2em;

    }

    .father {
        font-size: 0.7em;
        padding: 0.2em;

    }

    .tital{
        font-size: 0.7em;
        padding: 0.6em;
        font-size: 0.6em;
        width: 25vw;
    }

    img{
        width: 10.25vw;
        height: 23vh;
    }

    .logo{
        width: 10vw;
        height: 23vh;
    }

    nav{
        font-size: 0.7em;
        display: block ruby;
        background-color: darkblue;
        height: 8vh;
        position: relative;
        top: 9em;
        right:35.4em ;
        width: 100vw;
    }
    li{
        padding: 0em 0.18em;
    }
}